header {
  width: 100%;
  height: 5vh;
  background-color: $youtube-light-black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

  
  nav{
    width: 100%;
    
  }  

  .youtube {
    width:100vh;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
   
    .logo {
      width: 100px;
     
     
      img{
       position: absolute;
       left:5%;
       width: 100px;
    
      }
    }
// Funktioniert nicht
    .hamburger {
        
      width: 25px;
      height: 30px;
      position: relative;
      top: 18px;
      left: 10px;
      // position: relative;   
      // left: 200px;
     
      
      
      div {
        background-color: white;
        width: 1rem;
        height: 0.2rem;
        margin: 0.2rem;
       

        input [type="checkbox"]{
          display: none;
        }
  
      }
    }
     }
  }

  form {
    width: 30%;
    display: flex;
    position: absolute;
    left:40%;
    input[type="text"] {
      width: 500px;
      padding: 3px 9px;
      border-radius: 0.7rem 0 0 0.7rem;
      background-color: $youtube-white;
      border: 1px solid $youtube-white;
    }
    input[type="button"] {
      padding: 3px 9px;
      border-radius: 0 0.7rem 0.7rem 0;
      border: 1px solid $youtube-white;
      background-color: $youtube-white;
    }
    .mic {
      width: 1rem;
      height: 1rem;
      background-color: $youtube-light-black;
     
    }
  }

  .icon-bar-nav{
   
    width: 25%;
    position:absolute;
    left: 90%;

    
    a{
       color: lightgray;
    }

 }

 .profile{
     img{
      width: 30px;
      margin-right: 2px;
      border: 1px solid $youtube-darkblack;
      border-radius: 50%;
     }
    }
  
      
 

  // .user-info {
  //   width: 10%;
  //   border: 2px solid red;
  // }


@media (max-width: 850px) {
  .toggle-btn {
    display: flex;
  }
  .side-menu ul li {
    height: min-content;
    width: 100%;
    background-color: $youtube-light-black;

    /* display: block; */
    display: none;
    position: absolute;
    top: 3.5rem;
  }
  .side-menu ul li {
    height: min-content;
    width: 100%;
  }
  .side-menu li a {
    padding: 1.3rem 0;
  }
  /* check click on hamburgermenü */
  #toggle-btn:checked ~ .side-menu {
    display: block;
  }
}





// Arne Alternative
// nav{
//     background-color:$youtube-lightblack;
//     width:100% ;
//     height: 50px;
//     justify-content: space-between;
//     display: flex;
// }
// img{
//     width: 50px;
//     height: 50px;
// }
// form{
//     width: 50%;
//       display: flex;
//       justify-content: center;
//       height: 35px;
//       margin-top: 6px;
// }
// .logo{
//   background-color: white;
//   position: relative;
//   bottom: 100px;
//   left: 100px;
//   width:200px;
   
// }