.side-menu{ 
    
    margin-top: 40px;
    width: 15%;
    height: auto;
        
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #f5f5f5;
   
    flex-direction: column;
    text-decoration: none;
    
    ul{
        
        list-style: none;

        li{
            
            padding: 10px;

            &:hover {
                background-color: rgba(211, 211, 211, 0.484);
                border-radius: 3px;
                transition: all .8s ease-in;
                transform: scale(1);
                
              }
        }
     
        a{
        display: flex;
        color: lightgray;
        text-decoration: none;

        

        h3{
        font-size: medium;
        position: relative;
        left: 15px;
      
   
       
    }
}
   
   
}

}

// HH-Menü (funktioniert nicht)

#toggle-btn{
    display: none;
}

#toggle-btn:checked~.side-menu{
   
    left: 0px;
    background-color: green;
}