main {
  
  width: 80vw;
  height: 95vh;
  display: flex;
  position: relative;
  left: 15%;
  margin: 1rem;
  
h1{
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
  }

 
  
  .wrapper {
    width:80vw;
    height: auto;
    // max-width: 980px; 
    background-color: $youtube-black;
    
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
 
 
  .column {
    width: 18%;
    height:auto;
    display: flex;
   
    flex-flow: wrap;
    position: relative;
    left: 10px;
    margin: 5px;
    
    img {
      width: 200px;
      height: 120px;
     }
  
    h6 { 
      font-size:xx-small;
      font-family: Arial, Helvetica, sans-serif;
      color: lightgray;
      padding: 0 2px 1px;
    }
    p{
      font-size:smaller;
    }
  }
  

  
} 
}
  
  @media screen and (max-width: 992px) {
    .column {
      // flex-basis: 40%;
      width: 80%;
      margin-bottom: 10px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .column {
      // flex-basis: 100%;
      width: 40%;
      margin-bottom: 10px;
    }
  }
  
    .videos{
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: row;
     align-items:flex-end;
     justify-content: space-between;
    //  background-color: green;
     border: 2px solid red;
    

     .subscribers{
         
    display: flex;
    position: absolut;
    left: 10%;
  
     
    
    .paris{
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      flex-direction: row;
     
      
      p{
        font-size:25px;
        font-weight: bold;
      }
      span{
        font-size: 15px;
       }
    } 
   
    .button {
      width: 80%;
      display: flex;
      justify-content: flex-end;
      position: relative;
      right: 50px;
      top: 30px;
      
      button{
      width: 100px;
      height: 25px;
      
      background-color: red;
      
      a{
        color: lightgray;
        text-decoration: none;
        font-weight: bold;
      }
            
        }
    }
 }
     ul, li{
      display: flex;
      flex-direction: row-wrap;
      justify-content: flex-end;
      margin-left: 20px;
      width: 80%;
      text-transform:uppercase;
      font-family: Arial, Helvetica, sans-serif;
      color: lightgray;
      background-color: $youtube-darkblack;
     }

     article{
      margin-left: 10px;
      div{
        width: 20%;
        margin-left: 10px;
        display:flex;
        flex-direction: column-reverse;
        background-color: $youtube-black;
             
        image{
        margin-left: 10px;
        width: 80px;
                
       }
      }
  }
  

}
  